{% extends "base.html" %}
{% block title_head %}Профайл пользователя {{author}}{% endblock %}
{% block title %}<h1>Все посты пользователя {{ author.get_full_name }}</h1>
<h3>Всего постов: {{ author_posts_count }}</h3>
{% endblock %}
{% block content %}
<article>
  {% for post in page_obj %}
  <ul>
    <li>
      Автор: {{ author.get_full_name }}
      <a href="{% url 'posts:profile' author %}">все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
  {% if post.group %}
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {% endif %}
  {% if not forloop.last %}
  <hr>{% endif %}
  {% endfor %}
</article>
{% include 'includes/paginator.html' %}
{% endblock %}